In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/heart.csv')

From reading the Kaggle details on the dataset: 
- sex = binary, 
- cp (chest pain type) = categorical, <--- one hot
- fbs (fasting blood sugar > 120mg/dl) = binary, 
- restecg (resting ECG results) = categorical, <--- one hot
- exang (exercise-induced angina) = binary
- thal (0 = normal; 1 = fixed defect; 2 = reversable defect) = categorical <--- one hot

In [4]:
df_encoded = pd.get_dummies(df, columns=['cp', 'restecg', 'thal'])
df_encoded.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,slope,ca,...,cp_1,cp_2,cp_3,restecg_0,restecg_1,restecg_2,thal_0,thal_1,thal_2,thal_3
0,52,1,125,212,0,168,0,1.0,2,2,...,False,False,False,False,True,False,False,False,False,True
1,53,1,140,203,1,155,1,3.1,0,0,...,False,False,False,True,False,False,False,False,False,True
2,70,1,145,174,0,125,1,2.6,0,0,...,False,False,False,False,True,False,False,False,False,True
3,61,1,148,203,0,161,0,0.0,2,1,...,False,False,False,False,True,False,False,False,False,True
4,62,0,138,294,1,106,0,1.9,1,3,...,False,False,False,False,True,False,False,False,True,False